adal==1.2.7
azure-ai-anomalydetector==3.0.0b5
azure-core==1.24.1
azureml-core==1.41.0
black
bokeh
bokeh==2.4.3
ipykernel==6.15.0
ipympl
jupyter
jupyter_bokeh
jupyter_contrib_nbextensions
jupyterlab
numpy
pandas
pip==23.3
pydantic
python-dateutil==2.8.2
requests
tqdm
typing-extensions>=3.10.0.0