adal
azure-ai-anomalydetector
azure-core
azureml-core==1.41.0
black
black
bokeh
bokeh
ipykernel
ipympl
numpy
pandas
pip==21.1
pydantic
python-dateutil
python-dateutil
requests
tqdm
typing-extensions>=3.10.0.0